<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title></title>
      </head>
      <body>

        <!-- <h1>Mystery Word Game</h1> -->
        <h1>Mystery Word:</h1>
        <div class="word">
          {{#word}}
            <div class="letter"></div>
          {{/word}}
        </div><br>

        <h2>Guesses remaining:</h2>

        <div class="guesses">
          {{#guesses}}
            <div class="guess"></div>
          {{/guesses}}
        </div><br>


        <form action="/guess" method="post">
          <div class= "guessEntry">Please guess a letter: <input type="text" name="guess" id="guess"></input>
          <button type="submit" id="guessButton" value="">?</button></div>
        </form><br>


        <div class="message"> {{message}} </div><br>

        <form action="/quit" method="post">
          <button type="submit" value="Submit">Quit</button>
        </form>

      </body>
    </html>

  </body>
</html>
