body {
  font-family: "Arial Narrow";
  text-align: center;
  padding: 2%;
}

h2 {
  text-align: left;
}


.letter {
  height: 12vw;
  max-height: 75px;
  width: 10vw;
  max-width: 50px;
  border-bottom: 2px solid black;
  margin: 5px;
}

.guesses {
  display: flex;
  flex-flow: row nowrap;
}

.guess {
  height: 4vw;
  max-height: 20px;
  width: 4vw;
  max-width: 20px;
  background-color: green;
  border: 2px solid green;
  border-radius: 50%;
  margin: 1% 1% 20px 1%;

}

.guessEntry {
  font-size: 1.5em;
  height: 1.5em;
  border: 1px solid red;


  align-content: center;

}


.gone {
  background-color: white;

}

.word {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#guessButton {
  width: 50px;
  height: 1.5em;
}

#startButton {
  width: 100px;

  height: 65px;
}
