body {
  font-family: "Arial Narrow";
  text-align: center;
  padding: 2%;
}

h2 {
  text-align: left;
}


.letter {
  height: 12vw;
  max-height: 75px;
  width: 10vw;
  max-width: 50px;
  border-bottom: 2px solid black;
  margin: 5px;
}

.guesses {
  display: flex;
  flex-flow: row nowrap;
}

.guess {
  height: 4vw;
  max-height: 20px;
  width: 4vw;
  max-width: 20px;
  background-color: green;
  border: 2px solid green;
  border-radius: 50%;
  margin: 1% 1% 20px 1%;

}

.guessEntry {
  //border: 1px solid red;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 0;
}

#guess {
  height: 30px;
  font-size: 2em;
  width: 100px;
  margin: 1px;
}


#guessButton {
  width: 50px;
  height: 30px;
  margin-left: 5px;
  border-radius: 3px;
  font-size: 1.5em;
}

.gone {
  background-color: white;

}

.word {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}


#startButton {
  width: 150px;

  height: 65px;
  border-radius: 3px;
  font-size: 1.5em;
}
